@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Karla:wght@400;700;800&display=swap');

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
  background-color: #cbd5e1;
  font-family: 'Inconsolata', monospace;
}

.card {
    padding: .5rem;
  
    background-color: #fafafa;

    backface-visibility: hidden;

    -webkit-font-smoothing: subpixel-antialiased;
    border: none;
    outline: none;

    border-radius: 5px;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

ul {
  list-style-type: disc;
}

li {
  list-style: disc outside none;
  display: list-item;
  margin-left: 1em;
}


